body{
  background-color:#C9f787
}

section{
  text-align: center;
}

aside{
  text-align: center;
}

footer{
  background-color: #FFC0D9;
  text-align: center;
}
h3{
  padding: 10px;
  font-size: 25px;
  font-family: 'Dawning of a New Day', cursive;
}

h1 {
  padding: 25px;
  font-size: 50px;
  text-align: center;
  font-family: 'Dawning of a New Day', cursive;
  background-color: #FFC0D9;
}

